<app-tab [elements]="currentConditionsByZip()"
         (removeTabEmitter)="locationService.removeLocation($event.zip)"
         (selectTabEmitter)="selectElement($event)">
</app-tab>

<div *ngIf="getSelectedCondition() as selectedCondition" class="well flex" (click)="showForecast(selectedCondition.zip)">
    <div>
        <h3>{{ selectedCondition.data.name }} ({{ selectedCondition.zip }})</h3>
        <h4>Current conditions: {{ selectedCondition.data.weather[0].main }}</h4>
        <h4>Temperatures today:</h4>
        <p>
            Current {{ selectedCondition.data.main.temp | number:'.0-0' }}
            - Max {{ selectedCondition.data.main.temp_max | number:'.0-0' }}
            - Min {{ selectedCondition.data.main.temp_min | number:'.0-0' }}
        </p>
        <p>
            <a [routerLink]="['/forecast', selectedCondition.zip]">Show 5-day forecast for {{ selectedCondition.data.name }}</a>
        </p>
    </div>
    <div>
        <span class="close" (click)="locationService.removeLocation(selectedCondition.zip)">&times;</span>
        <img [src]="weatherService.getWeatherIcon(selectedCondition.data.weather[0].id)">
    </div>
</div>
